@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800;900&family=Poppins:wght@100;300;600;800&family=Questrial&display=swap');

body {
    background: #F8F8F8;
    color: #373744;
    font-family: 'Martel', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wavy {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #7CC7C2;
}

.font-pop {
    font-family: 'Poppins', sans-serif;
}

.font-martel{
    font-family: 'Martel', serif;
}

.font-bold {
    font-weight: 900;
}

.font-semi-bold {
    font-weight: 600;
}

.text-lg {
    font-size: 64px;
    line-height: 1;
}

.text-md {
    font-size: 32px;
    line-height: 1.2;
}

.text-left {
    text-align: left;
}

.mw-900 {
    max-width: 900px;
}

.mw-600 {
    max-width: 600px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.text-red-100 {
    color: #CD2360;
}

.text-teal-100 {
    color: #7CC7C2;
}

.relative {
    position: relative;
}

.container--home {
    display: flex;
    flex-direction: column;
    height: 99vh;
    justify-content: center;
    padding: 0 20px;
}

.highlight::after {
    content: '';
    position: absolute;
    background: #D9E9E8;
    height: 38px;
    width: 380px;
    left: -8px;
    bottom: 0;
    z-index: -1;
}