
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800;900&family=Space+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  

body {
    background: #ffffff;
    color: #3E4658;
    margin: 0;
    padding: 0;
    font-family: 'Inter',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    
}

* {
    box-sizing: border-box;
}

p, ul, h1, h2, h3, h4 {margin: 0;}

@link-color:#F3BF36;
@gray-color: #3E4658;


.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 5rem;
    box-sizing: border-box;

    @media (max-width: 720px) {
      padding: 0 1.5rem;
    }
}

.link {
    color: @link-color;
    position: relative;
    text-decoration: none;


    &:hover {
        text-decoration: none;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background: @link-color;
          opacity: 0.5;
          left: 0;
          bottom: 0;
        }
    }
}

.hero {
    position: relative;
    width: 100%;
    padding: 2rem 0 3rem 0;
    position: relative;
    z-index: 2;

    &::before {
        position: absolute;
        z-index: -1;
        content: '';
        width: 100%;
        height: 70%;
        top: 0;
        left: 0;
        background-image: url(img/space-background-hero.jpg);
        background-size: cover;
    }
}

.hero-guts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  @media (min-width: 820px) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.logo {
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    position: relative;
    padding-left: 15px;
    margin-bottom: 8px;

    &::after {
        content:'...';
        position: absolute;
        font-size: 20px;
        transform: rotate(90deg);
        margin: auto 0;
        left: -4px;
        top: 0;
        bottom: 0;
        color: #E8B93D;
    }

    @media (min-width: 599px) {
        margin: 0;
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;

    @media (min-width: 800px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
}

.headline {
    position: relative;
    z-index: 5;
    font-size: 6rem;
    line-height: 1;
    margin: 0 auto;
    letter-spacing: -2px;
    color: #fff;
    text-wrap: balance;

    @media (min-width: 800px) {
      font-size: 8.5rem;
      max-width: 800px;
    }
}

.subheadline {
    position: relative;
    z-index: 2;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    padding: 1rem;
    color: #0a0b10;
    align-self: center;
    transform: rotate(-.8deg);

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        background:#7d8fb8;
        left: 0;
        top: 0;
        width: 100%;
        height: 95%;
    }

    @media (min-width: 599px) {
      font-size: 1.5rem;
    }
}

//font styles
.font-bold {
    font-weight: 900;
}

.font-semi-bold {
    font-weight: 600;
}


.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: .9rem;
    
    li {
        margin-right: 1rem;
        display: inline-block;
    }

    @media (min-width: 599px) {
        font-size: 1.2rem;
    }
}


.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.work {
    padding-bottom: 4rem;
}

.dribbble-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: .5rem;
    align-content: stretch;
    min-height: 400px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 8px 22px rgb(0 0 0 / 8%);

    @media (min-width: 599px) {
      grid-gap: 1rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 800px) {
        grid-gap: 1rem;
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

}

.dribbble-sneak {
    background: #f1f1f5;
}

.dribbble-sneak:first-of-type {
  @media (min-width: 599px) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }  
}

.dribbble-img {
    width: 100%;
    border-radius: 6px;
    display: block;
}

.dribbble-title {
    font-size: .8rem;
    margin: 0;
    display: none;
}

.about {
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 599px) {
        flex-direction: row;
    }  
    

    img {
        border-radius: 24px;
        flex: 0;
        max-width: 200px;
        margin-bottom: 20px;
      
        @media (min-width: 599px) {
            margin-bottom: 0;
            margin-right: 20px;
        } 
    }
}

.about-guts {
    max-width: 600px;
}

.about-headline {
    position: relative;
    z-index: 3;
    font-size: 1.4rem;
    line-height: 1.3;
}

.about-copy {
    margin-top: 12px;
    font-size: 1rem;
    line-height: 1.4;
}